{% extends 'layout.html' %}
{% load dict_filter %}
{% load static %}
{% load templatetags %}


{% block content %}

  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        <div class="topics__header">
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li>
            <a href="{% url 'user-profile' user.id %}" class="active">All<span>{{ total_rooms }}</span></a>
          </li>
          {% for topic in topics %}
          <li>
            <a href="{% url 'user-profile' user.id %}?q={{ topic.name }}">{{ topic.name }} <span>{{ user_rooms_per_topic|get_item:topic.name }}</span></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              {% if user.avatar %}
                <img src="{{ user.avatar.url }}" />
              {% else %}
                <img src="{% static 'images/avatar.svg' %}" />
              {% endif %}
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user.name }}</h3>
            <p>@{{ user.username }}</p>
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{ user.bio }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{ user.username }}</h2>
          </div>
        </div>

         <!-- Rooms Hosted by User Start -->
        {% if rooms_hosted.count > 0 %}
        {% for room in rooms_hosted %}
            <div class="roomListRoom">
              <div class="roomListRoom__header">
                <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
                  <div class="avatar avatar--small">
                    {% if room.host.avatar %}
                      <img src="{{ room.host.avatar.url }}" />
                    {% else %}
                      <img src="{% static 'images/avatar.svg' %}" />
                    {% endif %}
                  </div>
                  <span>@{{ room.host.username }}</span>
                </a>
                <div class="roomListRoom__actions">
                  <span>{{ room.created|timesince }} ago</span>
                </div>
              </div>
              <div class="roomListRoom__content">
                <a href="{% url 'room' room.id %}">{{ room.name }}</a>
              </div>
              <div class="roomListRoom__meta">
                <a href="{% url 'room' room.id %}" class="roomListRoom__joined">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>user-group</title>
                    <path
                      d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z">
                    </path>
                    <path
                      d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z">
                    </path>
                    <path
                      d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z">
                    </path>
                    <path
                      d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z">
                    </path>
                  </svg>
                  {{ room.participants.all.count|k_format }} Joined
                </a>
                <p class="roomListRoom__topic">{{ room.topic.name }}</p>
              </div>
            </div>
        {% endfor %}
        {% else %}
          <h3 style="text-align: center; padding-bottom: 3rem;">Nothing to see here yet...</h3>
        {% endif %}
        <!-- Rooms Hosted by User End -->

        <div class="roomList__header">
          <div>
            <h2>Study Rooms in which {{ user.username }} Participated</h2>
          </div>
        </div>

        <!-- Rooms Participated by User start -->
        {% if rooms_participating.count > 0 %}
        {% for room in rooms_participating %}
            <div class="roomListRoom">
              <div class="roomListRoom__header">
                <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
                  <div class="avatar avatar--small">
                    {% if room.host.avatar %}
                      <img src="{{ room.host.avatar.url }}" />
                    {% else %}
                      <img src="{% static 'images/avatar.svg' %}" />
                    {% endif %}
                  </div>
                  <span>@{{ room.host.username }}</span>
                </a>
                <div class="roomListRoom__actions">
                  <span>{{ room.created|timesince }} ago</span>
                </div>
              </div>
              <div class="roomListRoom__content">
                <a href="{% url 'room' room.id %}">{{ room.name }}</a>
              </div>
              <div class="roomListRoom__meta">
                <a href="{% url 'room' room.id %}" class="roomListRoom__joined">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>user-group</title>
                    <path
                      d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z">
                    </path>
                    <path
                      d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z">
                    </path>
                    <path
                      d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5c-0.168 0-0.332-0.030-0.498-0.047-0.424 0.641-0.944 1.204-1.513 1.716 0.651 0.201 1.323 0.331 2.011 0.331 3.859 0 7-3.141 7-7s-3.141-7-7-7c-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z">
                    </path>
                    <path
                      d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7-7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z">
                    </path>
                  </svg>
                  {{ room.participants.all.count|k_format }} Joined
                </a>
                <p class="roomListRoom__topic">{{ room.topic.name }}</p>
              </div>
            </div>
        {% endfor %}
        {% else %}
          <h3 style="text-align: center;">Nothing to see here yet...</h3>
        {% endif %}


        <!-- {% include 'base/feed_component.html' %} -->
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Recent Activities</h2>
        </div>
        {% if activities.count > 0 %}
        {% for activity in activities %}
        <div class="activities__box">
          <div class="activities__boxHeader roomListRoom__header">
            <a href="profile.html" class="roomListRoom__author">
              <div class="avatar avatar--small">
                {% if activity.user %}
                  <img src="{{ activity.user.avatar.url }}" />
                {% else %}
                  <img src="{% static 'images/avatar.svg' %}" />
                {% endif %}
              </div>
              <p>
                @{{ activity.user.username }}
                <span class="timestamp" data-timestamp="{{ activity.timestamp }}"></span>
              </p>
            </a>
            <div class="roomListRoom__actions">
              <a href="{% url 'update-message' activity.id %}">
                <svg id="light" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g><g><g><path d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z"/></g><g><path d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z"/></g></g></svg>
              </a>
              <a href="{% url 'delete-message' activity.id %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>delete</title>
                  <path
                    d="M30 4h-8v-3c0-0.553-0.447-1-1-1h-10c-0.553 0-1 0.447-1 1v3h-8v2h2v24c0 1.104 0.897 2 2 2h20c1.103 0 2-0.896 2-2v-24h2v-2h-0zM12 2h8v2h-8v-2zM26.002 30l-0.002 1v-1h-20v-24h20v24h0.002z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
          <div class="activities__boxContent">
            <p>replied to post “<a href="{% url 'room' activity.room.id %}">{{ activity.room }}</a>”</p>
            <div class="activities__boxRoomContent">
              {{ activity }}
              {% if activity.created != activity.updated %}
               <span>(edited)</span>
              {% endif %}
            </div>
          </div>
        </div>

        {% endfor %}
        {% else %}
          <h3 style="text-align: center;">No Activities Available.</h3>
        {% endif %}


      </div>
      <!-- Activities End -->
    </div>
  </main>

{% endblock %}